@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* tabs on bottom of window */
#navigator-toolbox { -moz-box-ordinal-group: 10; }
#TabsToolbar { -moz-box-ordinal-group: 10; }

#PopupAutoCompleteRichResult {
  margin-top: -35vh !important;
  /*
  margin-top: -75vh;
  position: fixed;
  bottom: 100px;
  margin-left: 0 !important;
   */
}

#PopupAutoCompleteRichResult > hbox { display: none; }

/* global font */
* {
  font-size: 12pt !important;
}

#PersonalToolbar { height: 35px !important; }
.tab-background { border-top: none !important; }
#navigator-toolbox::after { border: none; }
#TabsToolbar .tabbrowser-arrowscrollbox,
#tabbrowser-tabs, .tab-stack { min-height: 35px !important; }
.tabbrowser-tab { font-size: 120%; }
.tab-content { padding: 0 5px; }
.tab-close-button .toolbarbutton-icon { width: 16px !important; height: 16px !important; }
