# -*- mode: conf; indent-tabs-mode: t -*-

[user]
  name = shwsun
  # Require email to be configured in either .gitconfig-local or
  # .git/config (Git >= 2.8)
  useConfigOnly = true
  email = jethro.s.sun@gmail.com
  signingkey = A12A9012444F0E74
[color]
	# config for diff-so-fancy
	ui = true

[merge]
  conflictstyle = diff3
[rebase]
  autosquash = true
[sendemail]
  envelopesender = auto
[pull]
  # Only do fast-forward merges automatically on pull
  ff = only
[push]
  # Git 2.0 changes the default to simple
  default = simple
[grep]
  linenumber = true
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  ov = -c core.pager='less -S' log --graph --pretty=format:'%C(auto)%d %s' --abbrev-commit --simplify-by-decoration --all
  ovk = !gitk --all --simplify-by-decoration
  random = !"git add -A; git commit -am \"$(echo $(curl -s http://whatthecommit.com/index.txt)\" \")\"; git pull --rebase; git push"
	dad = !"curl https://icanhazdadjoke.com/ ; git add"
  m = !"git add -A; git commit -m"
  open = !vim `git-open.sh`

# Type-specific diff settings
[core]
  attributesfile = ~/.gitattributes
[diff "elisp"]
  xfuncname="^(\\(def.*)$"

[help]
  autocorrect = 1
[url "https://github.com/"]
  insteadOf = h:
[url "git@github.com:"]
  insteadOf = g:
[url "https://achtung-gitlab.ccs.neu.edu/working-papers"]
  insteadOf = working:
[url "git@achtung-gitlab.ccs.neu.edu/:"]
  insteadOf = lab:

[diff]
  algorithm = patience
  compactionHeuristic = true
[commit]
  gpgsign = true


[include]
  path = ~/.gitconfig-local

# Global ignores
[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[http]
  cookiefile = /home/jethros/.gitcookies
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
